body {
  font-size: 15pt;
  background-size: cover;
  background-repeat: no-repeat !important;
  font-family: Tahoma;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --NP_color: red;
}

.slider {
  background-image: url(../imgs/img0.jpg);
  height: 100vh;
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
}

.slider .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
  border-radius: 1rem;
  height: 450px;
  width: 550px;
  overflow: hidden;
  z-index: 9;
}

.slider .container:before {
  content: attr(data-index);
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

.slider .container .Next,
.slider .container .Prev {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 1em;
  background: darkred;
  color: #fff;
  z-index: 99;
  cursor: pointer;
}

.slider .container .Next {
  right: 0;

}

.slider .container .Prev {
  left: 0;
}

@media (max-width: 668px) {
  .slider .container {
    width: 90%;
  }
}



ul {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #4FACBBD6;
  list-style: none;
  border-radius: 5px;
  overflow-x: auto;
  width: 100%;
  padding: 0 5px;
  z-index: 80;
  white-space: nowrap;
}


ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-weight: bold;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  transition: .6s;
  transform: scale(.8);
}


ul li.active {
  background: darkred;
  transform: scale(1);
  box-shadow: 0 0 0 1px lime;
}

img {
  height: 100%;
  width: 100%;
}
img:not(.m_img){
  opacity: .2;
    transform: scale(.8);
}
img.active {
  animation: pop .5s both;
}

@keyframes pop {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}